/* charts.scss */
.Container {
    width: 50%;
    height: auto;
    margin: 0 auto;

    /* Dark mode styles */
    &.dark-mode {
        background-color: rgb(0, 4, 20);
        color: white;
    }
}
