/* maincontentbn.scss */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px; /* Set a base font size */
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
    background-color: rgb(250, 250, 250);
}

.maincontentbn {
    width: 90%;
    padding: 2rem; /* Adjust padding for better spacing */
    background-color: rgb(255, 255, 255);
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-between;
    align-items: center;
    margin-left: 2%;
    border-radius: 1rem;
    z-index: 1;

    .part {
        font-size: 0.7rem;
        font-weight: 700;
        position: relative;

        .cp {
            margin-top: 1rem;
            font-size: 1.5rem;
            margin-left: 1rem;
        }

        .short {
            background-color: rgb(213, 206, 206);
            padding: 0.2rem 0.4rem ;
            border-radius: 0.5rem;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: -2rem; 
            bottom: 0;
            width: 1px;
            background-color: #e4eaeb;
            margin-left: 0.1rem;
        }
    }

    .marketcap {
        font-size: 0.7rem;
        font-weight: 700;
    }

    &.dark-mode {
        background-color: black;
        color: white;
    }

    // Responsive adjustments
    @media screen and (max-width: 768px) {
        width: 100%; 
        padding: 1rem; 
        margin-left: 0; 
    }
}

.full {
    &.dark-mode {
        background-color: rgb(10,10,10);
        color: white;
    }
}

.dark-mode {
    .short {
        background-color: rgb(15, 13, 13);
    }
}
